# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Django-specific
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc
media/
staticfiles/
static/

# Virtual environment
venv/
ENV/
.env/
env/
venv.bak/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Test and coverage reports
.coverage
*.cover
.hypothesis/
.tox/
.nox/
.cache/
coverage.xml
*.coveragerc
nosetests.xml
pytest_cache/
pytestdebug.log

# Documentation
build/
*.rst
*.log
.env
venv/
*.pyc
__pycache__/
db.sqlite3

endpoints.txt
models.txt